<swiper
  [slidesPerView]="1"
  [spaceBetween]="30"
  [loop]="true"
  [effect]="'fade'"
  [autoplay]="{
    delay: 3500,
    disableOnInteraction: false
  }"
  [pagination]="{
    clickable: true
  }"
  [navigation]="true"
  class="mySwiper rounded"               
>
  <ng-template swiperSlide *ngFor="let itemsss of slideItems">
    <div style="background-image: url('{{ itemsss.url }}');" class="slide-item">
      <div class='item-description p-4 text-start'>
        <h3>{{ itemsss.title }}</h3>
        <p>
          {{ itemsss.p | slice:0:230 }}...
        </p>
        <button class="btn custom-btn-pink">Reservar Hora</button>
      </div> 
    </div>
  </ng-template>
</swiper>
