<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="border rounded p-5 shadow-lg">
    <form>
      <h3 class="mb-4 text-center">Login</h3>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control custom-input" id="password" placeholder="******" />
      </div>
      <button type="submit" class="btn custom-btn-pink btn-block">Login</button>
      <hr class="my-5" />

      <div class="text-end">
        <p>¿No tienes una cuenta?</p>
        <a class="custom-text-pink">Crea una cuenta aquí</a>
      </div>
    </form>
  </div>

</div>
