<div>
  <div class="contact__social text-center">
	  <a href="#"><i class="fab fa-facebook"></i></a>
	  <a href="#"><i class="fab fa-twitter"></i></a>
	  <a href="#"><i class="fab fa-instagram"></i></a>
	  <a href="#"><i class="fab fa-whatsapp"></i></a>
  </div>
</div>

<div class="contact__text text-center py-4">
  <p><span class="custom-text-pink">Teléfono:</span> +569 12345678</p>
	<p><span class="custom-text-pink">Email:</span> qwerty@gmail.com</p>
	<p><span class="custom-text-pink">Dirección</span> 123 Antofa</p>
</div>



