.contact__social {
	padding-top: 20px;
	margin-bottom: 40px;
}

.contact__social a {
	display: inline-block;
  font-size: 30px;
	text-align: center;
	width: 60px;
	height: 60px;
	padding-top: 8px;
	margin-right: 6px;
	color: #222222;
	border-radius: 50%;
	background: #E8E8E8;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.contact__social a:hover {
	background: #E0698D;
	color: #ffffff;
}

.contact__text p {
	font-size: 18px;
	color: #222222;
}

.contact__text p span {
	font-size: 18px;
}
