<nav class="navbar navbar-expand-lg bg-light fixed-top py-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HAIR BY EVE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navbar -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let mItem of menuItems">
          <a
            class="nav-link"
            [routerLink]="mItem.url"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ mItem.name }}
          </a>
        </li>
      </ul>
      <!-- Navbar -->

      <!-- Login -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt text-danger"></i> Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
      <!-- Login -->

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="¿Qué deseas buscar?" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>

    </div>
  </div>
</nav>
