<div class="card">
  <img src="assets/images/product.jpg" class="card-img-top" alt="product">
  <div class="card-body">
    <h5 class="card-title">{{ cardTitle }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stock: <span class="text-info">14</span></li>
  </ul>
  <div class="card-body">
    <p href="#" class="text-end fw-bold">$ 4.000</p>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-shopping-cart"></i>
      Agregar al carro
    </button>
  </div>
</div>
