
<section class="py-5 p-3 animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <app-title></app-title>
  </div>

  <hr />

  <!--TODO: Replace h1 to loader component-->
  <div *ngIf="isLoading" class="text-center p-5 m-5 w ">
    <div class="spinner-border custom-text-pink" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading" class="animate__animated animate__fadeIn animate__faster">
    <div>
      <p class="text-center m-5 py-5" *ngIf="products.length === 0">
         No hay productos disponibles
      </p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="products.length > 0">
      <!-- Product Card -->
      <div class="col" *ngFor="let item of products">
        <app-product-card 
          [cardTitle]='item.name'
          [cardBrand]='item.brand.name'
          [cardImg]='item.img'
          [cardDesc]='item.desc'
          [cardStock]='item.stock'
          [cardPrice]='item.price'
        >
        </app-product-card>
      </div>
      <!-- Product Card -->
    </div>
  </div>
</section>
