<section class="py-5 animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <h1 class="mb-4">
      Nuestros Servicios
    </h1>
  </div>

  <hr />

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <app-accordion></app-accordion>
    </div>

    <div class="col">
      <div class="card border-dark mb-3">
        <div class="card-header">Hair By Eve</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Detalle de los servicios</h5>
          <hr />
          <p class="card-text text-center my-5">No hay servicios selecionados</p>
          <hr />
          <div class="d-flex justify-content-between">
            <div>Total</div>
            <div>$ 0</div>
          </div>
        </div>
        <button class="m-3 btn btn-primary" disabled>Reservar Hora</button>
      </div>
    </div>
  </div>
</section>
