<section class="py-4 animate__animated animate__fadeIn animate__faster">
  <!-- TODO: SlideShow, Services Btn, Contact Btn -->
  <div class="row pb-5">
    <app-slide-show></app-slide-show>
  </div>

  <hr />
  <!-- TODO: About, Mission, Vision -->
  <div class="row my-5 ">
    <app-home-about></app-home-about>
  </div>
  <!-- TODO: Hairdressing movil gallery -->
  <div class="row">
    <app-home-gallery></app-home-gallery>
  </div>
  <!-- TODO: Slideshow Offer Products -->
  <div class="row">
    <app-home-products></app-home-products>
  </div>
</section>

